
.el-picker-panel__body.is-in-range {
    .el-date-table td.in-range {
        background-color: transparent;
    }
    .el-date-table td.end-date {
        background-color: transparent !important;
        color: #48576a;
    }
}